body{
	font-family: roboto;
	font-weight: 600;
	color: #283136;
	font-size: 16px;
	line-height: 22px;
}
h1{
	font-family: roboto;
	font-weight: 600;
	color: #000000;
	font-size: 40px;
	line-height: normal;
	text-transform: uppercase;
}
h2{
	font-family: roboto;
	font-weight: 600;
	color: #000000;
	font-size: 36px;
	line-height: 36px;
}
h3{
	font-family: roboto;
	font-weight: 600;
	color: #000000;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

/*Нёрдс Индекс*/
/*Позиционирование*/
.nerds-index{
	width: 1200px;
	min-height: 2256px;
	padding: 0;
	margin: 0px auto;
}
.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
.index-header{
	background: #eeeeee
}
/* фон для сравнения*/
.header-logo{
	min-height: 56px;
	outline: 1px solid red;
	/*Временные тэги*/
	float: left;
	width: 140px;
	margin-top: 27px;
	margin-left: 160px;
}
.header-navigation{
	min-height: 17px;
	outline: 1px solid red;
	/*Временные тэги*/
	float: right;
	width: 560px;
	margin-right: 160px;
	margin-top: 60px;
	margin-bottom: 59px;
}
.header-info{
	min-height: 195px;
	outline: 1px solid red;
	/*Временные тэги*/
	float: left;
	width: 361px;
	margin:25px 40px 80px 160px;
}
.header-switch-menu{
	min-height: 10px;
	outline: 1px solid red;
	/*Временные тэги*/
	float: left;
	width: 60px;
	margin-top: 196px;
}
.header-img{
	min-height: 231px;
	outline: 1px solid red;
	/*Временные тэги*/
	float: left;
	width: 340px;
	margin-left: 80px;
	margin-bottom: 69px;	
}
.main-product-item{
	min-height: 299px;
	outline: 1px solid red;
	/*Временные тэги*/
	float: left;
	width: 240px;
	margin-right: 80px;
	margin-top: 80px;
	margin-bottom: 80px;
}
.main-product-item:first-child{
	margin-left: 160px;
}
.decorate-line{
	min-height: 3px;
	outline: 1px solid red;
	/*Временные тэги*/
	width: 880px;
	margin-left: 160px;
	margin-bottom: 59px;
	padding: 0px;
	line-height: 0px;
	font-size: 0px;
}
.main-about{
	min-height: 327px;
	outline: 1px solid red;
	/*Временные тэги*/
	float: left;
	width: 573px;
	margin-top: 14px;
	margin-left: 160px;
}
.main-commercial{
	min-height: 341px;
	outline: 1px solid red;
	/*Временные тэги*/
	float: left;
	width: 240px;
	margin-left: 68px;
	margin-bottom: 72px;
}
.glukhanko{
	min-height: 37px;
	outline: 1px solid red;
	/*Временные тэги*/
	float: left;
	width: 198px;
	margin-left: 173px;
	margin-top: 69px;
	margin-bottom: 64px;
}
.html-academy{
	min-height: 68px;
	outline: 1px solid red;
	/*Временные тэги*/
	float: left;
	width: 199px;
	margin-left: 120px;
	margin-top: 57px;
}
.borodinski{
	min-height: 90px;
	outline: 1px solid red;
	/*Временные тэги*/
	float: left;
	width: 208px;
	margin-left: 124px;
	margin-top: 47px;
}
.main-partners{
	margin-bottom: 84px;
}
.main-map{
	min-height: 417px;
	outline: 1px solid red;
	/*Временные тэги*/
	display: inline-block;
	width: 1200px;
}
.table-in-map{
	min-height: 240px;
	outline: 1px solid red;
	/*Временные тэги*/
	width: 250px;
	margin-left: 160px;
	margin-top: 88px;
}
.social-net{
	min-height: 61px;
	outline: 1px solid red;
	/*Временные тэги*/
	float: left;
	width: 240px;
	margin-left: 160px;
	margin-bottom: 77px;
	margin-top: 72px; /* на 5 пикселе меньше?_?*/
}
.footer-call{
	min-height: 64px;
	outline: 1px solid red;
	/*Временные тэги*/
	float: left;
	width: 550px;
	margin-top: 72px;
	margin-left:80px;
}
/*Нерлс каталог сетка*/
